.left-panel.blue-skin
	.left-panel__section
		.title-2 UI-KIT и PUG фреймворк
	.left-panel__section
		p.strong Документация
		.left-panel-nav
			+linkLeftPanel("Документация", "docs.html")
			+linkLeftPanel("Оформление кода", "docs-codestyle.html")
			+linkLeftPanel("Работа со стилями", "docs-styleguide.html")
			+linkLeftPanel("Общие рекомендации", "docs-general-recomendations.html")
	.left-panel__section
		p.strong Элементы форм
		.left-panel-nav
			+linkLeftPanel("Кнопки", "buttons.html")
			+linkLeftPanel("Чекбоксы", "checkbox.html")
			+linkLeftPanel("Поля ввода", "input-fields.html")
			+linkLeftPanel("Радиокнопки", "radio-buttons.html")
			+linkLeftPanel("Поле file", "file.html")
	//- Тут будут ссылки на блоки
	.left-panel__section
		p.strong Блоки
		.left-panel-nav
			+linkLeftPanel("Аватарки", "avatars.html")
			+linkLeftPanel("Бейдж", "badge.html")
			+linkLeftPanel("Типографика", "typography.html")
			+linkLeftPanel("Нотификации", "notifications.html")
			+linkLeftPanel("Иконки подвала", "icon-footer.html")

	//- Тут будут ссылки на секции
	.left-panel__section
		p.strong Секции
		.left-panel-nav
			+linkLeftPanel("Комментарий - зарегистрироваться", "comments-unregistered.html")
			+linkLeftPanel("Шапка - гость", "header-guest.html")
			+linkLeftPanel("Шапка - пользователь", "header-user.html")
			+linkLeftPanel('Загрузка файла', 'upload-file.html')
			+linkLeftPanel("Комментарии пользователей", "user-comments.html")
			+linkLeftPanel("Комментарий - форма отправки", "comments-submit.html")
			+linkLeftPanel("Индикаторы SVG", "indicators.html")
			+linkLeftPanel("Подвал сайта", "footer.html")
			+linkLeftPanel("Карточки", "cards.html")
			+linkLeftPanel("Шапка администратора", "header-admin.html")
			+linkLeftPanel("Сообщение от пользователя", "message-user.html")
			+linkLeftPanel("Пост в блоге", "blog-post.html")
			+linkLeftPanel("Обо мне", "about-me-header.html")

	//- Тут будут ссылки на страницы
	.left-panel__section
		p.strong Страницы
		.left-panel-nav
			+linkLeftPanel("Главная страница", "home-page.html")
			+linkLeftPanel("Вход", "login.html")
			+linkLeftPanel("Регистрация", "registration.html")
			+linkLeftPanel("Редактировать - опыт работы", "about-me-work-edit.html")
			+linkLeftPanel("Редактировать - технологии", "about-me-tech-edit.html")
			+linkLeftPanel("Работы", "works.html")
			+linkLeftPanel("Профиль пользователя", "user-profile.html")
			+linkLeftPanel("Контакты - редактировать", "contacts-edit.html")
			+linkLeftPanel("Обо мне", "about-me.html")
			+linkLeftPanel("Профиль пользователя - редактировать", "user-profil-edit.html")
			+linkLeftPanel("Обо мне редактировать – Информация", "about-me-edit-information.html")
			+linkLeftPanel("Блог - добавить пост", "add-post.html")
			+linkLeftPanel("Работы-добавить работу", "works-add-work.html")
			+linkLeftPanel("Блог", "blog.html")
			+linkLeftPanel("Страница для поста с блогом", "blog-post-page.html")
			+linkLeftPanel("Контакты - Сообщения", "contacts-messages.html")
			+linkLeftPanel("Работы - отдельная работа", "works-separate-work.html")
			+linkLeftPanel("Контакты", "contacts.html")

