mixin user-comment(avatar, altText, userName, date)
	.user-comment
		.user-comment__avatar
			+avatar(avatar, altText, 'small')
		.user-comment-info-wrapper
			span.user-comment__name #{userName}
			span.user-comment__date
				i(class="far fa-clock")
				| #{date}
			.user-comment__text
				block