extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Главная страница';
	- var pageClass= "index-page";

block content
	.container
		.title-1.text-center.mb-55 Проект команды WEBDEV-TEAM 05
		.row
			.col
				.card.align-items-center.pb-35
					.title-2 UI-Kit
					+button("Перейти", "ui/ui-kit.html", 'primary')
			.col
				.card.align-items-center.pb-35
					.title-2 Главная страница
					+button("Перейти", "main.html",'primary')
		.row.mt-30
			.col
				.card.align-items-center.pb-35
					.title-2 Регистрация
					+button("Перейти", "registration.html", 'primary')
			.col
				.card.align-items-center.pb-35
					.title-2 Вход
					+button("Перейти", "login.html", 'primary')

		.row.mt-30
			.col
				.card.align-items-center.pb-35
					.title-2.text-center Обо мне редактировать – Информация
					+button("Перейти", "/about-me-edit-information.html",'primary')
			.col
				.card.align-items-center.pb-35
					.title-2 Редактировать - Опыт работы
					+button("Перейти", "about-me-work-edit.html",'primary')
		.row.mt-30
			.col
				.card.align-items-center.pb-35
					.title-2 Работы
					+button("Перейти", "works.html", 'primary')
			.col
				.card.align-items-center.pb-35
					.title-2 Работы - отдельная работа
					+button("Перейти", "works-separate-work.html", 'primary')
		.row.mt-30
			.col
				.card.align-items-center.pb-35
					.title-2 Редактировать - Технологии
					+button("Перейти", "about-me-tech-edit.html",'primary')
			.col
				.card.align-items-center.pb-35
					.title-2 Профиль пользователя
					+button("Перейти", "user-profile.html",'primary')
		.row.mt-30
			.col
				.card.align-items-center.pb-35
					.title-2 Профиль - редактировать
					+button("Перейти", "user-profil-edit.html",'primary')
		.row.mt-30
			.col
				.card.align-items-center.pb-35
					.title-2 Блог - добавить пост
					+button("Перейти", "add-post.html", 'primary')
			.col
				.card.align-items-center.pb-35
					.title-2 Блог
					+button("Перейти", "blog.html", 'primary')
		.row.mt-30
			.col
				.card.align-items-center.pb-35
					.title-2 Работы-добавить работу
					+button("Перейти", "works-add-work.html", 'primary')
			.col
				.card.align-items-center.pb-35
					.title-2 Контакты - Сообщения
					+button("Перейти", "contacts-messages.html", 'primary')
		.row.mt-30
			.col
				.card.align-items-center.pb-35
					.title-2 Пост в блоге
					+button("Перейти", "blog-post-page.html",'primary')
			.col
				.card.align-items-center.pb-35
					.title-2 Контакты - редактировать
					+button("Перейти", "contacts-edit.html", 'primary')
		.row.mt-30
				.col
					.card.align-items-center.pb-35
						.title-2 Обо мне
						+button("Перейти", "about-me.html", 'primary')
				.col
					.card.align-items-center.pb-35
						.title-2 Контакты
						+button("Перейти", "contacts.html", 'primary')

