extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Главная';
	- var pageClass = 'content-page';

block content
	include ../sections/header-admin.pug
	include ../sections/header-guest.pug
	.main-wrapper
		include ../sections/about-me.pug
		.new-works.container.section
			.row
				.col-md-12
					h2.title-2.title-1--weight.mb-30  Новые 
						span.title-1--underline работы
			.row
				.col-md-4
					+cardPortfolio('../img/blog/ui-portfolio-preview.jpg', 'Верстка Landing Page', '#')
				.col-md-4
					+cardPortfolio('../img/blog/ui-portfolio-preview.jpg', 'Верстка Landing Page', '#')
				.col-md-4
					+cardPortfolio('../img/blog/ui-portfolio-preview.jpg', 'Верстка Landing Page', '#')
		.blog-entries.container
			.row
				.col-md-12
					h2.title-2.title-1--weight  Новые записи в 
						span.title-1--underline блоге
			.row
				.col-md-4
					+cardBlog('../img/blog/ui-blog-preview.jpg', 'Поездка в New York пример длинного названия поста...', '#')
				.col-md-4
					+cardBlog('../img/blog/ui-blog-preview.jpg', 'Поездка в New York пример длинного названия поста...', '#')
				.col-md-4
					+cardBlog('../img/blog/ui-blog-preview.jpg', 'Поездка в New York пример длинного названия поста...', '#')
	include ../sections/footer.pug



