extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Типографика - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content.pt-35
			h1 Типографика
			.title Заголовки

			.section-ui
				h1.title-1 Заголовок 1
				h2.title-2 Заголовок 2
				h3.title-3 Заголовок 3
				h4.title-4 Заголовок 4
				h5.title-5 Заголовок 5
				h6.title-6 Заголовок 6
			pre.
				h1.title-1 Заголовок 1
				h2.title-2 Заголовок 2
				h3.title-3 Заголовок 3
				h4.title-4 Заголовок 4
				h5.title-5 Заголовок 5
				h6.title-6 Заголовок 6
			
			.title Абзацы, ссылки в тексте

			.section-ui
				p.paragraph.
					Парк находится в горах Сьерра-Невада на востоке штата Калифорния и занимает огромную даже для Америки 
					площадь, около 3000 кв. км.
				p.paragraph.
					Центром парка является долина #[a(href="") Йосемити], круглый год переполненная туристами, зато в большей части парка 
					никаких туристов нет. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая 
					система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. Ко всем этим 
					прелестям бесплатно прилагаются животные и птицы.
			
			pre.
				p.paragraph.
					Парк находится в горах Сьерра-Невада на востоке штата Калифорния и занимает огромную даже для Америки 
					площадь, около 3000 кв. км.
				p.paragraph.
					Центром парка является долина \#[a(href="") Йосемити], круглый год переполненная туристами, зато в большей части парка 
					никаких туристов нет. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая 
					система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. Ко всем этим 
					прелестям бесплатно прилагаются животные и птицы.
			
			.title Список

			.section-ui
				ul.list
					li.list-item
						p.paragraph.
							Первый пункт
					li.list-item
						p.paragraph.
							Второй пункт. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая
							система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. 
					li.list-item
						p.paragraph.
							Третий пункт
			pre.
				ul.list
					li.list-item
						p.paragraph.
							Первый пункт
					li.list-item
						p.paragraph.
							Второй пункт. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая
							система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. 
					li.list-item
						p.paragraph.
							Третий пункт