.about-me.container.section
	.wrapper-space-around
		.about-me__avatar.col-md-3
			+avatar('avatar.jpg', 'alt text avatar')
		.about-me__description.col-md-9
			h3.title-1.title-1--blue.title-1--weight Емельян Казаков
			p.paragraph.paragraph--distance.
				Я веб разработчик из Казани. Мне 28 лет. Занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
			p.paragraph.paragraph--distance.
				Этот сайт я сделал в рамках обучения в школе онлайн обучения WebCademy. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
				h3.title-3 Что я умею
				p.paragraph.
				Меня привлекет Frontend разработка, это не только моя работа, но и хобби.Также знаком и могу решать не сложные задачи на Backend.
				Знаком и использую современный workflow, работаю с репозиториями git и сборкой проекта на gulp.
			h3.title-3.title-1--weight Что я умею
			p.paragraph.paragraph--distance.
				Меня привлекет Frontend разработка, это не только моя работа, но и хобби.Также знаком и могу решать не сложные задачи на Backend.
			p.paragraph.paragraph--distance.
				Знаком и использую современный workflow, работаю с репозиториями git и сборкой проекта на gulp.
			.about-me__button
				+button('Подробнее', '#', 'primary')
+horisontal-line()