.post
    .post-head
        h1.title-general.mb-0.mt-0  Национальный парк Йосемити
        +button('Редактировать', '#', 'edit')(class="post-head--position")
    .post-info  
        .post-info__author Емельян Казаков
        .post-info__topic
            +postLink('Путешествия', '#')(class="postlink")
        .post-info__date 16 марта 2017
        .post-info__comments
            +postLink('2 комментария', '#')(class="postlink")

    .post-img
        +Img('blog/post-img.jpg','Горы')
    .post-content.mb-25
            p
                |   Парк находится в горах 
                +postLink('Cьерра-Невада', '#')(class="link")
                |   на востоке штата Калифорния и занимает огромную даже для Америки площадь, около 3000 кв. км. На этой площади расположены гранитные скальные стены огромной высоты, которыми, собственно, в первую очередь и знаменит парк, водопады, среди которых одни из самых высоких в США, три рощи гигантской секвойи — самого долгоживущего в мире дерева и самого большого по диаметру ствола, а также масса рек, озёр, лесов и лугов.
            p
                |   Центром парка является долина 
                +postLink('Йосемити', '#')(class="link")            
                |   круглый год переполненная туристами, зато в большей части парка никаких туристов нет. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. Ко всем этим прелестям бесплатно прилагаются животные и птицы. Если, на ваше счастье, медведей вы скорее всего не увидите, то оленей или бурундуков увидите почти гарантированно, даже не обладая специальными навыками.    
    .post-buttons-nav.mb-25
        +buttonWithIcon('Назад', '#', 'fa-arrow-left', 'previous', 'left')
        +buttonWithIcon('Вперед', '#', 'fa-arrow-right', 'next', 'right')
