footer.footer
	.container.pl-0.pr-0
		.footer__container
			.row.ml-0.mr-0
				.col-5.no-paddings
					.footer__copyright
						p © Иван Пластун
						p Создано с #[i(class="mr-0 fas fa-heart")] в #[a(href="http://webcademy.ru/" target="_blank" class="strong") WebCademy.ru] в 2018 году
				.col-3.no-paddings
					nav.footer__nav
						a(href="main.html") Главная
						a(href="about-me.html") Обо мне
						a(href="works.html") Работы
						a(href="blog.html") Блог
						a(href="contacts.html") Контакты
				.col-4.no-paddings
					.social
						+icon-font('fab fa-vk')
						+icon-font('fab fa-twitter')
						+icon-font('fab fa-youtube')
						+icon-font('fab fa-instagram')
						+icon-font('fab fa-facebook-f')