.container-indicators
	.row.ml-90.pt-40
		+indicator('HTML5','green','90')
		+indicator('CSS3','green','90')
		+indicator('js','green','90')
		+indicator('jQuery','green','90')
	.row.ml-90.pt-40
		+indicator('PHP','blue','90')
		+indicator('MySql','blue','90')
	.row.ml-90.pt-40
		+indicator('Git','yellow','90')
		+indicator('Gulp','yellow','90')
		+indicator('Bower','yellow','90')
		+indicator('WebPack','yellow','90')