.message-user
	+button('Удалить', '#', 'smallDelete', 'smallDelete')(class="float-right")
	.message-user__date.mb-20 22 Августа 2017
	.message-user-info
		span.message-user-info__name Джон До
		a(href="#").message-user-info__email.ml-20 johndoe@gmail.com
	p.message-user__text Привет, как дела?) наконец то написал тебе. Посмотри ТЗ нового проекта. Делаем стартап в B2B сфере, юриспуриденция, контракты, право. Инвестиции уже получены и нам нужен классный фронтэнд разработчик, как раз - такой как ты. Будет круто если сможешь поработать с нами.
	span.message-info-files.strong Прикрепленные файлы:
		a(href="#").message-user-info-files__link.ml-20 Avrora-platform.pdf
