.user-comments-wrapper.mb-25
	.title-2 2 комментария

	+user-comment('avatar-2.jpg', 'Джон До собственной персоной', 'Джон До', '01 декабря 2018 года в 15:37')
		p.
			Замечательный парк, обязательно отправлюсь туда этим летом.

	+user-comment('avatar-3.jpg', 'Джейн До собственной персоной', 'Джейн До', '02 декабря 2018 года в 19:47')
		p.
			Согласна, парк просто потрясающий! Была там в прошлом году и нисколько не пожалела. Обязательно вернусь туда снова в следующем году.